* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
}

body{
    background-color: black;
    min-width: 100vh;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

main{
    font-size: 150px;
    color: white;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

footer{
  color: black;
  background-color: white;
  position:fixed;
  padding: 5px;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  text-align: center;
}

#portfolio{
  font-size: 55px;
}

header .navbar ul{
  list-style: none;
}

header .navbar ul li{
  float: left;
  position: relative;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: black;
    display: block;
}
header .navbar a:hover {
  background-color: black;
  color: white;
}

#menu-bar{
  display: none;
}

 header label{
  font-size: 20px;
  color: white;
  cursor: pointer;
  display: none;
 }

@media(max-width:600px){

  header{
    padding: 20px;
  }

  header label{
    display: initial;
    color: black;
  }

  header .navbar{
    position: absolute;
    top: 100%; left: 0; right: 0;
    display: none;
    border-top: 1px solid black;
  }

  header .navbar ul li{
    width: 100%;
    color: black;
    background-color: white;
  }

  header .navbar a:hover {
    background-color: black;
    color: white;
  }


  #menu-bar:checked ~ .navbar{
    display: initial;
  }
}

@media screen and (max-width: 600px) {
  main{
    font-size: 12vw;
  }

  #portfolio{
    font-size: 8vw;
  }
}