* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  header{
    position: relative;
    top: 0; left: 0; right: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
  }
  
  header .navbar ul{
  list-style: none;
  }
  
  header .navbar ul li{
  float: left;
  position: relative;
  }
  
  header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: white;
    display: block;
  }
  header .navbar a:hover {
  background-color: white;
  color: black;
  }
  
  #menu-bar{
  display: none;
  }
  
  header label{
  font-size: 20px;
  color: black;
  cursor: pointer;
  display: none;
  }
  
  @media(max-width:700px){
  
  header{
    padding: 20px;
  }
  
  header label{
    display: initial;
    color: white;
  }
  
  header .navbar{
    position: absolute;
    top: 100%; left: 0; right: 0;
    display: none;
    border-top: 1px solid white;
  }
  
  header .navbar ul li{
    width: 100%;
    color: white;
    background-color: black;
  }
  
  header .navbar a:hover {
    background-color: white;
    color: black;
  }
  
  
  #menu-bar:checked ~ .navbar{
    display: initial;
  }
  }
  
  .column {
    float: left;
    padding: 15px;
  }

  #info {
    width: 100%;
    margin-top: 50px;
    border-bottom: 2px solid black;
    text-decoration: none;
    float: left;
    padding: 15px;
    padding-left: 80px;
  }

  .middle {
    width: 100%;
    margin-top: 10px;
    border-bottom: 2px solid black;
    text-decoration: none;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #Nikodem{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 129px;
  width: 100%;
  height: auto;
  margin-bottom: 8.5px;
}

  table {
    margin: 0;
    width: 100%;
    text-decoration: none;
    text-align: center;
  }
  table td {
    padding: 1rem;
    text-align: center;
    width: 120px;
  }

  .resonsivetable{
    overflow-x: auto;
  }

  .socials {
    width: 100%;
    text-decoration: none;
  }

  .links{
    text-decoration: none;
    color: white;
  }

  .linkstabel {
    margin-bottom: 10px;
    width: 100%;
    text-decoration: none;
    text-align: center;
  }

.btn {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}

.btn:hover {
  background-color: grey;
}

.wrapper{
  text-align: center;
}

h2{
  font-style: italic;
  text-decoration: underline;
}

  @media screen and (max-width: 791px) {
    .column {
        width: 100%;
        padding: 0;
    }
    #info{
      border-bottom: none;
      border-bottom: 2px solid black;
      text-align: center;
    }

    li{
      text-align: center;
    }

    #Nikodem{
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 129px;
      width: 100%;
      height: auto;
      margin-bottom: 8.5px;
    }
    .middle{
      padding-left: 10px;
    }
    #info{
      padding-left: 10px;
    }
  table{
    width: 100%;
  }
  }

  .footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
  }