* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header{
  position: relative;
  top: 0; left: 0; right: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .navbar ul{
list-style: none;
}

header .navbar ul li{
float: left;
position: relative;
}

header .navbar ul li a{
  font-size: 20px;
  padding: 20px;
  color: white;
  display: block;
}

header .navbar a:hover {
background-color: white;
color: black;
}

#menu-bar{
display: none;
}

header label{
font-size: 20px;
color: black;
cursor: pointer;
display: none;
}

@media(max-width:700px){

header{
  padding: 20px;
}

header label{
  display: initial;
  color: white;
}

header .navbar{
  position: absolute;
  top: 100%; left: 0; right: 0;
  display: none;
  border-top: 1px solid white;
}

header .navbar ul li{
  width: 100%;
  color: white;
  background-color: black;
}

header .navbar a:hover {
  background-color: white;
  color: black;
}


#menu-bar:checked ~ .navbar{
  display: initial;
}
}

.column {
  float: left;
  padding: 15px;
}

.middle {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid gray;
  text-decoration: none;
  padding-left: 80px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
#Nikodem{
  margin-left: auto;
  margin-right: 100px;
  width: 20%;
  float: right;
}

#bocian{
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  float: left;
}

#vlag{
  margin-left: auto;
  margin-right: 100px;
  width: 70%;
  float: right;
  border: 1px solid black;
}

#bocianr{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  float: left;
}

#vlag2{
  margin-left: auto;
  margin-right: 100px;
  width: 50%;
  float: right;
  border: 1px solid black;
}

#now{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  float: left;
}

.textkolom{
  margin-right: 80px;
}


@media screen and (max-width: 791px) {
.column {
  width: 100%;
}
#Nikodem{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  width: 100%;
  height: auto;
  margin-bottom: 8.5px;
  padding-left: 20px;
}

.middle{
  padding-left: 10px;
}
  
#bocian{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  width: 100%;
  height: auto;
  margin-bottom: 8.5px;
  padding-right: 20px;
}

#vlag{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  margin-bottom: 8.5px;
  margin-left: 20px;
}
#bocianr{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  margin-bottom: 8.5px;
  margin-right: 20px;
}
#vlag2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  margin-bottom: 8.5px;
  margin-left: 20px;
}
#now{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  margin-bottom: 8.5px;
  margin-right: 20px;
}
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}